/* This code is the property of the River Dell Regional School District and its related entities. It may not be copied or re-used without express permission from the Development Team */
/* Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

body {
  color: #FFF;
  background: linear-gradient(to bottom right, #057AFF, #42449D);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #057AFF;
  color: #fff;
}
::-moz-selection {
  background: #057AFF;
  color: #fff;
}

a {
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: inherit;
  opacity: 50%;
}

.logo-overlay h1 {
  font-size: 90pt;
  font-weight: 500;
  width: 100%;
}

.logo-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
}


.link {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1.5vw;
  color: #fff !important;
}

.mobile-link {
  visibility: hidden;
}

.mobile-byline {
  visibility: hidden;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  text-align: center;
}

#social-icons {
  position: fixed;
  top: 90%;
  left: 50%;
  min-width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.icon {
  max-width: 40px;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.25;
}

.icon:hover {
  opacity: 0.5;
}

#footer {
  position: fixed;
  bottom:10px;
  height:30px;
  width:100%;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.25);
  z-index: 999;
  text-align: center;
  font-size: 13pt;
}


/* Mobile Scaling */

  /* iPhone 7 and phones of similar size */

  /* Portrait and Landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  }

  /* Portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .logo-overlay h1 {
      font-size: 35pt;
    }

    .logo-overlay h3 {
      font-size: 14pt;
    }

    .logo {
      width: 75%
    }

    #footer {
      padding-top: 10px;
      font-size: 12pt;
    }

  }

  /* Landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .logo-overlay h1 {
      font-size: 45pt;
    }

    .logo-overlay h3 {
      font-size: 20pt;
    }

    #social-icons {
      position: fixed;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #footer {
      padding-top: 25px;
      font-size: 11pt;
    }

  }
